# CnA Final Capstone Project Missing value Imputation

In this notebook (this is the 2nd one), I mainly do the imputation of missing values. There were quite a few missing values and several wrong entries but I ended up not exploring this aspect for this hackathon although I do mention some instances in this notebook. There is a lot of scope in these particular steps and is worth exploring

This notebook by **@debarshichanda** covers several missing value imputation techniques: https://www.kaggle.com/code/debarshichanda/handling-missing-values/notebook

## Importing Libraries

In [1]:
#Basic Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

#Text Preprocessing
import re

# Iterative Imputation
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from xgboost import XGBRegressor

In [2]:
# Loading in the Datasets
df = pd.read_csv("../input/cna-5folds/train_folds.csv")
df_test = pd.read_csv("../input/sa2022/test.csv")
sample_submission = pd.read_csv("../input/sa2022/Sample__submission.csv")

In [3]:
# Converting Offer % from string to float to make it a useable target
# Target choice between Offer % and price1, it did seem like offer% might be a good target considering it is bounded
# Also point to note for those who did use Offer %, some of the values in this feature were wrong, or some in actprice1 were wrong
def remove_punct(text):
    text = re.sub('%','',text)
    return text
df['Offer %'] = df['Offer %'].apply(remove_punct).astype('float')

In [4]:
# According to my understanding (which maybe wrong), the norating1 column should have been (and is for several other rows) the sum of the number of stars
df[df['norating1']!=df['star_5f']+df['star_4f']+df['star_3f']+df['star_2f']+df['star_1f']]

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,kfold
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1,0
6,3236,Women Navy Heels Sandal,4.0,Women,Flipkart,499,999,50.05,249.0,31.0,130.0,52.0,27.0,9,28,1,3
7,14633,Women Blue Wedges Sandal,3.9,Women,Flipkart,209,1299,83.91,121.0,17.0,63.0,25.0,14.0,9,12,0,3
8,1872,Sneakers For Women (Pink),4.2,Women,Flipkart,549,999,45.05,191.0,30.0,120.0,25.0,31.0,7,12,1,0
10,12634,TEMPO Men's Combo Pack of 3 Synthetic Loafers ...,3.3,Men,Amazon,999,999,0.00,222.0,147.0,26.0,4.0,18.0,15,37,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15716,11613,Bacca Bucci Men's Sneaker,3.6,Men,Amazon,999,999,0.00,686.0,296.0,17.0,7.0,14.0,23,38,1,3
15722,239,"Fancy-01 Women's Flyknit Socks Sneakers,Ultra-...",4.1,Women,Flipkart,668,1615,49.37,10283.0,1347.0,2880.0,1769.0,1350.0,3,871,1,2
15723,14422,Bellies For Women (Black),4.0,Women,Flipkart,209,499,58.12,219.0,21.0,122.0,39.0,16.0,15,24,0,1
15727,6733,Women Navy Flats Sandal,3.7,Women,Flipkart,329,499,34.07,NaN,18.0,NaN,NaN,20.0,10,15,1,4
15728,3889,Red Chief Men's Sneakers,3.9,Men,Amazon,2249,4499,50.01,750.0,479.0,13.0,6.0,10.0,25,47,1,0

In [5]:
# These entries are obviously incorrect and there are several such errors
df[(df['star_5f']==0)&(df['star_4f']==0)&(df['star_3f']==0)&(df['star_2f']==0)&(df['star_1f']==0)]

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,kfold
1197,1099,DOCTOR EXTRA SOFT Ortho Care Diabetic Orthopae...,4.0,Men,Flipkart,499,799,37.55,3046.0,425.0,0.0,0.0,0.0,0,0,1,0
1413,12126,Jutis For Men (Tan),4.3,Men,Flipkart,1530,1699,9.95,22.0,5.0,0.0,0.0,0.0,0,0,0,1
1578,16727,"Cosko Sports Shoes,Running Shoes,Walking Shoes...",4.1,Men,Flipkart,699,999,30.03,122519.0,17774.0,0.0,0.0,0.0,0,0,1,1
1783,1108,Women Multicolor Wedges Sandal,4.1,Women,Flipkart,845,1690,50.00,53.0,10.0,0.0,0.0,0.0,0,0,1,0
1997,12141,Ladies New casuals Boots For Women (Black),3.4,Women,Flipkart,899,999,10.01,8.0,0.0,0.0,0.0,0.0,0,0,0,4
2084,10286,Jutis For Men (Brown),4.0,Men,Flipkart,498,499,0.20,441.0,40.0,0.0,0.0,0.0,0,0,0,0
2368,1084,Lace Up For Men (Maroon),4.4,Men,Flipkart,2195,3990,44.99,27.0,5.0,0.0,0.0,0.0,0,0,1,4
2487,10356,Women Pink Flats Sandal,4.0,Women,Flipkart,699,999,30.03,116.0,16.0,0.0,0.0,0.0,0,0,0,1
3449,20022,Corporate Casuals For Men (Black),4.0,Men,Flipkart,421,999,57.86,2224.0,330.0,0.0,0.0,0.0,0,0,1,1
3726,12745,Modern Runner Running Shoes For Men (Black),4.1,Men,Flipkart,1799,2999,40.01,9.0,0.0,0.0,0.0,0.0,0,0,1,4
4347,13144,adilette CF+ logo Slides,4.5,Men,Flipkart,1979,3599,45.01,141.0,12.0,0.0,0.0,0.0,0,0,1,0
4915,2500,Windster GU IDP Flip Flops,4.4,Men,Flipkart,769,1399,45.03,1032.0,94.0,0.0,0.0,0.0,0,0,1,2
5701,5919,Training & Gym Shoes For Men (Blue),4.3,Men,Flipkart,399,999,60.06,9.0,2.0,0.0,0.0,0.0,0,0,1,1
5938,20239,Women Multicolor Flats Sandal,3.7,Women,Flipkart,180,767,76.53,2316.0,251.0,0.0,0.0,0.0,0,0,1,1
6068,5742,Women Grey Heels Sandal,4.2,Women,Flipkart,599,999,40.04,275.0,38.0,0.0,0.0,0.0,0,0,0,3
6506,11938,Stylish Flat Mules for women Bellies For Women...,4.0,Women,Flipkart,225,699,67.81,2270.0,318.0,0.0,0.0,0.0,0,0,1,4
6693,20186,Perfect Stylish Girls Casual Shoes Sneakers Fo...,3.9,Women,Flipkart,399,999,60.06,1353.0,202.0,0.0,0.0,0.0,0,0,0,1
6800,6927,Slippers,3.6,Women,Flipkart,349,399,12.53,239.0,30.0,0.0,0.0,0.0,0,0,0,0
7273,9241,Jutis For Men (Multicolor),3.8,Men,Flipkart,500,999,49.95,45.0,5.0,0.0,0.0,0.0,0,0,0,0
7633,1687,Pacer X Graphicster IDP Running Shoes For Men ...,3.9,Men,Flipkart,1519,3999,62.02,217.0,25.0,0.0,0.0,0.0,0,0,1,2
7702,10880,Combo Pack of 2 Latest Collection of Stylish O...,3.8,Women,Flipkart,584,998,41.48,212.0,37.0,0.0,0.0,0.0,0,0,1,2
7912,7642,MAXICO Running Shoes For Men (Black),4.1,Men,Flipkart,992,1299,23.63,1782.0,300.0,0.0,0.0,0.0,0,0,1,0
8077,18052,"Raptor Running Shoe For Men (Blue, Silver)",4.1,Men,Flipkart,323,1199,73.06,1285.0,226.0,0.0,0.0,0.0,0,0,1,0
8158,3926,Men Black Flats Sandal,4.7,Men,Flipkart,1539,2799,45.02,13.0,0.0,0.0,0.0,0.0,0,0,1,2
9159,19943,Perfect Stylish Girls Casual Shoes Sneakers Fo...,4.3,Women,Flipkart,399,999,60.06,10486.0,1531.0,0.0,0.0,0.0,0,0,1,0
9264,5010,SFG-204 Flip Flops,4.2,Men,Flipkart,259,284,8.80,61798.0,7467.0,0.0,0.0,0.0,0,0,1,0
9296,18004,Perfect Stylish Girls Casual Shoes Sneakers Fo...,4.2,Women,Flipkart,456,999,54.35,1660.0,236.0,0.0,0.0,0.0,0,0,1,1
9372,4518,BadBoy Style Slipper for Men Slides,4.0,Men,Flipkart,290,799,63.70,21870.0,2498.0,0.0,0.0,0.0,0,0,0,0
10216,2848,Party Wear Royal Look Formal Lace Up For Men I...,4.3,Men,Flipkart,569,1299,56.20,239.0,45.0,0.0,0.0,0.0,0,0,1,0
10280,18459,Derby For Men (Black),4.1,Men,Flipkart,1888,6295,70.01,139.0,19.0,0.0,0.0,0.0,0,0,1,0
10752,20052,Kosko Running Shoes For Men (Brown),3.8,Men,Flipkart,569,999,43.04,84.0,9.0,0.0,0.0,0.0,0,0,1,2
10826,15502,Slip On For Men (Brown),3.6,Men,Flipkart,799,1299,38.49,10.0,1.0,0.0,0.0,0.0,0,0,0,0
11949,3752,Boots For Women (White),4.2,Women,Flipkart,469,999,53.05,111.0,14.0,0.0,0.0,0.0,0,0,0,1
12315,19058,"Airsocks-12 Men's Flyknit Socks Sneakers,Ultra...",4.1,Men,Flipkart,699,1499,53.37,23891.0,3779.0,0.0,0.0,0.0,0,0,1,4
12540,9212,Walking Shoes For Men (Blue),3.8,Men,Flipkart,599,2499,76.03,19.0,2.0,0.0,0.0,0.0,0,0,0,2
12646,4191,Casual Sneakers Black Shoes For Men Sneakers F...,4.1,Men,Flipkart,449,999,55.06,4090.0,519.0,0.0,0.0,0.0,0,0,1,2
12830,3218,Comfortable & Stylish Laser-Cut High Tops For ...,4.6,Women,Flipkart,499,999,50.05,5.0,0.0,0.0,0.0,0.0,0,0,1,0
13463,20381,New Stylish Girls/Women/Ladies Comfortable Fas...,4.0,Women,Flipkart,447,999,55.26,245.0,32.0,0.0,0.0,0.0,0,0,0,1
13540,19216,Slippers,3.8,Men,Flipkart,399,900,55.67,153.0,26.0,0.0,0.0,0.0,0,0,1,0
14463,6757,Women Pink Flats Sandal,4.1,Women,Flipkart,359,499,28.06,274.0,25.0,0.0,0.0,0.0,0,0,1,2
14761,18637,Running Shoes For Men (Black),3.8,Men,Flipkart,331,999,66.87,4718.0,536.0,0.0,0.0,0.0,0,0,1,3
14835,13557,Jutis For Men (Black),4.0,Men,Flipkart,270,599,54.92,102.0,11.0,0.0,0.0,0.0,0,0,0,1
15160,19334,NRGY Neko Skim Wns Running Shoes For Women (B...,3.9,Women,Flipkart,3509,6499,46.01,77.0,5.0,0.0,0.0,0.0,0,0,1,3
15666,9873,Ethnic juti Jutis For Women (Tan),3.9,Women,Flipkart,208,499,58.32,526.0,93.0,0.0,0.0,0.0,0,0,1,2
15676,16686,Jutis For Men (Brown),3.9,Men,Flipkart,521,560,6.96,58.0,10.0,0.0,0.0,0.0,0,0,0,0

In [6]:
# Just dropped this row because it had many wrong inputs, there were several such rows but I ended up not exploring this preprocessinng step
df.drop(df[df['id']==9873].index,inplace = True)

In [7]:
# Seeing the shapes to check the column and row count is as expected
print(df.shape,df_test.shape)

(15729, 17) (5244, 14)

## Main Imputation step

In [8]:
df.isnull().sum()

id              0
title           0
Rating          0
maincateg     526
platform        0
price1          0
actprice1       0
Offer %         0
norating1     678
noreviews1    578
star_5f       588
star_4f       539
star_3f       231
star_2f         0
star_1f         0
fulfilled1      0
kfold           0
dtype: int64

In [9]:
df_test.isnull().sum()

id              0
title           0
Rating        203
maincateg      67
platform        0
actprice1       0
norating1       0
noreviews1      0
star_5f        68
star_4f         0
star_3f         0
star_2f         0
star_1f       186
fulfilled1      0
dtype: int64

In [10]:
a = df['maincateg'].isnull().sum()
b = df_test['maincateg'].isnull().sum()
print(f'Null values in maincateg (before imputation) in df: {a} and in df_test: {b}')

Null values in maincateg (before imputation) in df: 526 and in df_test: 67

In [11]:
# Main imputation step
# Here I just deal with the missing values in maincateg which I try to fill as much as I can using the title column 
# and the fact that several title columns have Men or Women specified in some form. Here I didnt spend much time on the rest of the null value columns
df.loc[(df['title'].str.contains('Women')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('Women')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Women')
df.loc[(df['title'].str.contains('Men')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('Men')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df.loc[(df['title'].str.contains('men')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('men')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df.loc[(df['title'].str.contains('Boy')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('Boy')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df.loc[(df['title'].str.contains('WOMEN')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('WOMEN')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Women')
df.loc[(df['title'].str.contains('Pink')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('Pink')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Women')
df.loc[(df['title'].str.contains('Ketava')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('Ketava')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df.loc[(df['title'].str.contains('WF_HF')) & (df['maincateg'].isnull() == True),'maincateg'] = df.loc[(df['title'].str.contains('WF_HF')) & (df['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Women')

df_test.loc[(df_test['title'].str.contains('Women')) & (df_test['maincateg'].isnull() == True),'maincateg'] = df_test.loc[(df_test['title'].str.contains('Women')) & (df_test['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Women')
df_test.loc[(df_test['title'].str.contains('Men')) & (df_test['maincateg'].isnull() == True),'maincateg'] = df_test.loc[(df_test['title'].str.contains('Men')) & (df_test['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df_test.loc[(df_test['title'].str.contains('men')) & (df_test['maincateg'].isnull() == True),'maincateg'] = df_test.loc[(df_test['title'].str.contains('men')) & (df_test['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df_test.loc[(df_test['title'].str.contains('Boy')) & (df_test['maincateg'].isnull() == True),'maincateg'] = df_test.loc[(df_test['title'].str.contains('Boy')) & (df_test['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df_test.loc[(df_test['title'].str.contains('WOMEN')) & (df_test['maincateg'].isnull() == True),'maincateg'] = df_test.loc[(df_test['title'].str.contains('WOMEN')) & (df_test['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Women')
df_test.loc[(df_test['title'].str.contains('Pink')) & (df_test['maincateg'].isnull() == True),'maincateg'] = df_test.loc[(df_test['title'].str.contains('Pink')) & (df_test['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Women')
df_test.loc[(df_test['title'].str.contains('Wink')) & (df_test['maincateg'].isnull() == True),'maincateg'] = df_test.loc[(df_test['title'].str.contains('Wink')) & (df_test['maincateg'].isnull() == True),'maincateg'].fillna(value = 'Men')
df_test.loc[(df_test['maincateg'].isnull() == True),'star_1f'] = df_test.loc[(df_test['maincateg'].isnull() == True),'norating1']-df_test.loc[(df_test['maincateg'].isnull() == True),'star_5f']-df_test.loc[(df_test['maincateg'].isnull() == True),'star_4f']-df_test.loc[(df_test['maincateg'].isnull() == True),'star_3f']-df_test.loc[(df_test['maincateg'].isnull() == True),'star_2f']

# Did some manual entry correction but was not motivated enough to spend more time on it :(
df.loc[df['id'] == 5099,'star_5f'] = 130
df.loc[df['id'] == 2159,'star_4f'] = 29
df.loc[df['id'] == 9850,'star_5f'] = 210
df.loc[df['id'] == 11602,'star_4f'] = 28

In [12]:
a = df['maincateg'].isnull().sum()
b = df_test['maincateg'].isnull().sum()
print(f'Null values in maincateg (after imputation) in df: {a} and in df_test: {b}')

Null values in maincateg (after imputation) in df: 53 and in df_test: 6

In [13]:
df = df.drop(['title'],axis='columns')
df_test = df_test.drop(['title'],axis='columns')

In [14]:
# Label Encoding using map function for the binary categorical variables
df['maincateg'] = df['maincateg'].map({'Women':0,'Men':1})
df['platform'] = df['platform'].map({'Amazon':0,'Flipkart':1})
df_test['maincateg'] = df_test['maincateg'].map({'Women':0,'Men':1})
df_test['platform'] = df_test['platform'].map({'Amazon':0,'Flipkart':1})

In [15]:
# The Main Iterative Imputation Step
imputer = IterativeImputer(estimator=XGBRegressor(n_estimators=2000,tree_method='gpu_hist', predictor="gpu_predictor"),max_iter=20,verbose = 2)
df = pd.DataFrame(imputer.fit_transform(df),columns = df.columns)
imputer = IterativeImputer(estimator=XGBRegressor(n_estimators=2000,tree_method='gpu_hist', predictor="gpu_predictor"),max_iter=20,verbose = 2)
df_test = pd.DataFrame(imputer.fit_transform(df_test),columns = df_test.columns)

[IterativeImputer] Completing matrix with shape (15729, 16)
[IterativeImputer] Ending imputation round 1/20, elapsed time 100.84
[IterativeImputer] Change: 388743.7066326436, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 2/20, elapsed time 196.27
[IterativeImputer] Change: 82576.171875, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 3/20, elapsed time 292.44
[IterativeImputer] Change: 9607.146484375, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 4/20, elapsed time 388.78
[IterativeImputer] Change: 10527.84912109375, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 5/20, elapsed time 484.92
[IterativeImputer] Change: 8244.74267578125, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 6/20, elapsed time 580.99
[IterativeImputer] Change: 2423.6689453125, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 7/20, elapsed time 678.24
[IterativeImputer] Change: 2824.51171875, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 8/20, elapsed time 775.25
[IterativeImputer] Change: 4832.761291503906, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 9/20, elapsed time 871.60
[IterativeImputer] Change: 3566.71240234375, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 10/20, elapsed time 968.43
[IterativeImputer] Change: 7907.969482421875, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 11/20, elapsed time 1064.56
[IterativeImputer] Change: 5928.6005859375, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 12/20, elapsed time 1160.80
[IterativeImputer] Change: 3350.87939453125, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 13/20, elapsed time 1256.91
[IterativeImputer] Change: 2674.05712890625, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 14/20, elapsed time 1352.94
[IterativeImputer] Change: 3076.541259765625, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 15/20, elapsed time 1449.28
[IterativeImputer] Change: 3093.75390625, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 16/20, elapsed time 1545.23
[IterativeImputer] Change: 2524.6000633239746, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 17/20, elapsed time 1641.57
[IterativeImputer] Change: 3211.9182472229004, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 18/20, elapsed time 1736.96
[IterativeImputer] Change: 3135.327392578125, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 19/20, elapsed time 1833.28
[IterativeImputer] Change: 1913.116683959961, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 20/20, elapsed time 1929.97
[IterativeImputer] Change: 4937.859375, scaled tolerance: 289.973
[IterativeImputer] Completing matrix with shape (5244, 13)
[IterativeImputer] Ending imputation round 1/20, elapsed time 56.79
[IterativeImputer] Change: 17494.49641173028, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 2/20, elapsed time 115.41
[IterativeImputer] Change: 1030.2828180789948, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 3/20, elapsed time 172.66
[IterativeImputer] Change: 292.573926448822, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 4/20, elapsed time 228.33
[IterativeImputer] Change: 300.6900825500488, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 5/20, elapsed time 283.61
[IterativeImputer] Change: 434.5115032196045, scaled tolerance: 289.973
[IterativeImputer] Ending imputation round 6/20, elapsed time 342.04
[IterativeImputer] Change: 241.1086790561676, scaled tolerance: 289.973
[IterativeImputer] Early stopping criterion reached.

In [16]:
# Converting the train and test datasets to csv files
df.to_csv('train.csv',index = False)
df_test.to_csv('test.csv',index = False)